<h2>Subjects List</h2><br>
<%= link_to 'Add subject', new_subject_path %>
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Age </th>
        <th> Email </th>
        <th> Actions </th>
    </tr>
    <% @subjects.each do |s| %>
        <tr>
            <td><%= s.id %></td>
            <td><%= s.name %></td>
            <td><%= s.age %></td>
            <td><%= s.email %></td>
            <td><%= link_to 'Delete', '/#' %></td>
        </tr>
    <% end %>
</table><br>
<%= link_to '<< Back to Main Menu', root_path %>
